* {
  
  box-sizing: border-box;
  
}
body {
  background: #f1f1f1;
  font-family: arial;
  padding: 20px;
}

.header {
  
  padding: 20px;
  font-size: 40px;
  font-family: 'Alex Brush';
  color: white;
  text-align: center;
  background: black;
  
}

.empty{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
}
.Errorword{
  
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: red
  
}


.leftcolumn {
  
  float: left;
  width: 75%;
  
}

.rightcolumn {
  
  float: left;
  width: 25%;
  padding-left: 20px;
  
}

.card {
  
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  
  content: "";
  display: table;
  clear: both;
  
}

.footer {
 
  text-align: center;
  background: #ddd;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  
  
}

@media screen and (max-width: 800px) {
  
  .leftcolumn, .rightcolumn {
    
    width: 100%;
    padding: 0;
    
  }
}
