<html> 
<title>spoonacular</title>
<head> 
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    
    <link href='https://fonts.googleapis.com/css?family=Alex Brush' rel='stylesheet'>
    
<meta name="viewport" content="width=divice-width, initial-scale=1"> 
<body> 

<div class="header">
    <h2>Welcome to food page</h2>
</div>
  
  <div class="empty">
      
      <p>We didn't found the reciepes with <div class="Errorword"> {{empty_handler}}</div></p>
      <p>Please refresh the page again to see reciepe with other food.</p>
      <p>Sorry for the inconvenience</p>
      </div>
  
</body>
</head>
</html> 