<html> 
<title>spoonacular</title>
<head> 
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
 
<body> 
  
 <ol>
     
     
     <li>{{title}}<br></br>
    
    <img src= "{{image}}"><br><br>
    
    
    <p>Prepration Time: </p>{{prep}} <br><br>
    <p>Serves: </p>{{serve}} <br><br>
    <p>Source URL: </p><p><a href="{{source}}">click here</a> </p><br><br>
    <p>Ingredients:- </p> <br></br>


    {%for i in range(0, len)%} 
    
      {{ingredients[i]}} <br></br>
         
     <br></br>
        
    {%endfor%} 
     
         {{username}} <br></br>
         {{tweeting_time}}<br> </br>
         {{tweet_content}} <br></br> 
        
    </li>


 </ol> 
</body>
</head>
</html> 