<html> 
<title>spoonacular</title>
<head> 
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
 
<body> 
  
 <ol>
     
     
     <li>{{title}}<br></br>
    
    <img src= "{{image}}"><br><br>


{%for i in range(0, lengthh)%} 
     
     <li>
         
         
         
         
         
         
         
         <h1>Tweets related to {{stree}}</h1>
         {{username[i]}} <br></br>
         {{tweeting_time[i]}}<br> </br>
         {{tweet_content[i]}} <br></br>
         
     </li>
     <br></br>
        
{%endfor%} 
  

 </ol> 
</body>
</head>
</html> 